



html {

    background-color: #C0C0C0;
}

nav {
    display: flex;
    background-color: #51D6FF;
    /* padding: 1px; */
    /* height: 200px; */
    width: 100%;
    height: 100%;
    /* justify-items: center; */
    align-self: center;
    

}

header {
    /* align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
    justify-items: center;
    justify-self: center; */

}




#wrapper {
    background-color: white;
    height: 700px;

    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-rows: 80px 50px 3fr 50px;
    /* display: flex; */
    /* flex-direction: column; */
}


footer {
    background-color: #417B5A;
    align-content: center; 
}